
.container {
  max-width: 800px;
  margin: auto;
  background-color: #1A96D9;
}

body {
  color: white;
  text-align: center;
}

.row {
  display: flex;
}

.column-one-third{
  flex-basis: calc(100% / 3);
  margin: 35px;
}

.title {
  flex-basis: 100%;
}


img {
  width: 100%;
}

.picture {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  margin: 50px;
}

h3 {
  font-size: 15px;
  margin-bottom: -5px;
  margin-top: -30px;
}

p {
  color: #DDD;
  font-size: 12px;
}

h2 {
  margin-bottom: -50px;
}
