.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 33px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  border-radius: 25px;
}

.slider::before {
  position: absolute;
  content: '';
  height: 25px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 35px;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

input:checked + .slider {
  background-color: green;
}

.on {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
