.search-bar {
  border: 1px solid black;
  padding: 1.5px;
  align-items: center;
  width: 20rem;
  margin-left: 1.25rem;
  border-radius: 20px;
  margin-top: 1.25rem;
}

i {
  margin-left: 10px;
  margin-right: 2px;
}

input {
  border: none;
  outline: none;
  padding: 4px;
}

p {
  margin-left: 1.5rem;
}
