.box {
  border: solid 1px black;
  width: 30rem;
  background-color: lightgray;
}

.title {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  padding-left: 1rem;
  cursor: pointer;
}

.title.active {
  background-color: white;
}

p {
  margin: 0;
  padding: 1rem;
  background-color: white;
}

.container {
  margin: 1rem;
}
